;; shadow-cljs configuration
;{:source-paths
; ["src"]
; :dev-http {8081 "public"}
; :nrepl {:port 55554}
;
;<<<<<<< HEAD
; :dependencies
; [[tiltontec/mxweb "0.1.8-SNAPSHOT"]]
;
; :builds
; {:app { :target     :browser
;         :output-dir "public/scripts/"
;         :asset-path "/scripts/"
;         :modules    {:core {:init-fn whoshiring.core/main}}}}}
;=======
{:source-paths ["src"]
 :dependencies [[tiltontec/mxweb "0.1.9-SNAPSHOT"]]
 :dev-http {8080 "public"}
 :nrepl {:port 55542}
 :builds {:app {:target :browser
                :output-dir "public/scripts/"
                :asset-path "/scripts/"
                :warnings {:undeclared-var false}
                :modules {:core {:init-fn whoshiring.core/main!}}}}}
