**/.lein-failures
**/.shadow-cljs
**/cljs-runtime/*
**/.DS_Store
**/.idea
**/*.iml
**/node_modules
cljs-out
.nrepl-port
.rebel_readline_history
**/*.jar
checkos
target
files
closure-library
cljs/archive
**/.clojuredart
**/cljd-out

