**/.lein-failures
**/.shadow-cljs
**/cljs-runtime/*
**/.DS_Store
**/.idea
**/*.iml
**/node_modules
**/archive
cljs-out
.nrepl-port
.rebel_readline_history
**/*.jar
checkos
target
files
closure-library
cljs/archive
**/.clojuredart
**/cljd-out

.clj-kondo
!.clj-kondo/config.edn
.lsp
!.lsp/config.edn
.cpcache
