{:deps    {com.bhauman/figwheel-main       {:mvn/version "0.2.18"}
           com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
           com.tiltontec/matrix            {:mvn/version "4.2.0"}
           com.tiltontec/mxweb             {:mvn/version "1.0.0"}
           org.slf4j/slf4j-nop             {:mvn/version "1.7.30"}}
 :aliases {:fig {:main-opts ["-m" "figwheel.main"]}}
 :paths   ["src" "target" "resources"]}