{:paths ["src"] ; where your cljd files are
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        tensegritics/clojuredart
        {:git/url "git@github.com:tensegritics/ClojureDart.git"
         ;; :sha "4d9fa6c5ce5c98aeb335861e59fcd264b5ff85cc"
         :sha "0c5fb327b4d717d529ab3aa451bda38a1297a200"}}}
