.caution {
    background: #ff0;
    padding: 4px;
    border: 1px dashed #c5c5c5;
}

code {
    background: beige;
    padding: 1em;
}

.precode {
    background: beige;
    padding: 1em;
    margin-right: 48px;
}