

/* this trick prevents jumping as vert scroll bar comes and goes */

/*html { margin-left: calc(100vw - 100%); }*/

/*html::before {*/
    /*content: "";*/
    /*background: url(image/circuittall.jpg) no-repeat center center fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    /*opacity: .3;*/
    /*z-index: -2;*/

/*}*/

/*html::before {*/
    /*content: "";*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/

    /*width: 940px;*/
    /*height: 1192px;*/
    /*opacity: .4;*/
    /*z-index: -1;*/
    /*background-size: cover;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background: url(image/circuittall.jpg);*/
/*}*/
.rqak { margin: 4px}

.payload { margin: 4px}

.logicbox {
    /*display: flex;*/
    /*background: yellow;*/
    margin-top: 12px;
    /*margin-bottom: 18px;*/
    display: inline-block;
    text-align: center;
}

.pipe {
    padding:9px;
    /*background: pink;*/
    border-width:1px;
    border-style:dotted;
    border-color:gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.signal {
    display: block;
    max-width:20px;
    max-height:16px;
    width: auto;
    height: auto;
}

.bundle {
    /*background: cyan;*/
    /*width: fit-content;*/
    margin-top: 12px;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*text-align: center;*/
}

/*.bundle {*/
    /*width: fit-content;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*margin: 8px;*/
    /*align-items: center;*/
/*}*/
.regsubbox {
    display: inline-block;
    vertical-align: baseline;
}

.logic {
    width: fit-content;
    margin: 8px;
    /*margin-top: 18px;*/
    padding: 5px;
    border: 2px solid cyan;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

}

.data {
    margin-left: 6px;
    min-height: 24px;
    font-size: 1.5em;
    font-family: 'Bodoni 72';
}