{:main aghire.core, :preloads [figwheel.core figwheel.main figwheel.repl.preload devtools.preload figwheel.main.system-exit figwheel.main.css-reload], :output-to "resources/public/cljs-out/dev-main.js", :output-dir "resources/public/cljs-out/dev", :asset-path "/cljs-out/dev", :aot-cache false, :closure-defines #:figwheel.repl{connect-url "ws://localhost:9500/figwheel-connect?fwprocess=b7efc5&fwbuild=dev"}, :repl-requires ([figwheel.repl :refer-macros [conns focus]] [figwheel.main :refer-macros [stop-builds start-builds build-once reset clean status]] [cljs.pprint :refer [pprint] :refer-macros [pp]] [cljs.repl :refer-macros [source doc find-doc apropos dir pst]])}