{:deps {org.clojure/clojurescript {:mvn/version "1.10.866"}
        com.bhauman/figwheel-main {:mvn/version "0.2.14"}
        tiltontec/matrix            {:mvn/version "4.1.1-SNAPSHOT"}}
 :paths ["src" "target"]}